.feed-container
{
    margin: auto;   
    width: 35vw;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

