#hero
{
    height: 55vh;
    color: white;
   
    
}   

.unblured-img
{
    width: 70vw;
    height: 60%;
    margin: auto;
    position: relative;
    border-radius: 15px 15px;
   

}

.unblured-img img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 160px;
    left: 15px;
    border-radius: 35px;
}

.h_container
{
   display: flex;
   justify-content: space-between;
   align-items:baseline;
   width: 70vw;
   margin: auto;
   margin-top: 2.3rem;
   padding-left:  1rem;
   padding-right: 7rem;
   

}

.h_desc
{
    text-align: left;

}

.h_cta{
    display: flex;
}

.h_follow
{
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    background-color: #2e69ff;
}

.h_settings
{
    margin-right: 1rem;
    background: none;
    border: none;
    color: white;
}