.p-meta-container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#p-img
{
    margin-right: 2rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.p-meta
{
    font-size: larger;
    display: flex;
    flex-direction: column;
    
    
}

.p-meta-name
{
    text-align: left;
    margin-bottom: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
   
}

.p-meta-name i
{
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    color: rgba(0, 0, 0, 0.582);
    cursor: pointer;
}
.p-meta-stats
{
    font-size: 0.9rem;
    display: flex;
    width: 15rem;
    align-items: center;
    justify-content: space-between;
}
.p-meta-stats span{
    cursor: pointer
}

.p-bio
{   
    width: 20rem;
    margin-top: 1.5rem;
    text-align: left;
    font-size: smaller;
}

#profile .rule, #other .rule
{
    top: 20rem;
    left: 0;
    right: 0;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
}