.sidebar
{
    margin-left: 8rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    left: 3rem;
}

.profile-section-img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    
}

.profile-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
}

.profile-elements
{
    display: flex;
    align-items: center;
    
}

.settings
{
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.suggested-section
{
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.suggested-section p 
{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.271);
    margin-bottom: 1rem;
}

.suggested-section button
{
    padding: 0.5rem 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    
}
.space-profile-container
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 0.7rem;
   width: 21vw;
}
.space-img
{
    border-radius: 5px;
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1rem;
    object-fit: cover;
}

.join
{
    border: none;
    background: none;
    color: rgba(98, 170, 251, 0.848);
    
}

.profile-elements
{
    display: flex;
    align-items: center;
}

